/* stylesheet */

html,
body {
  /* #302E2D; */
  background-color: #1A1A1A;
  font-family: 'Artifika', serif;
}

.box {
  background-color: #202124;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.vol-img {
  max-width: 80%;
  height: auto;
  margin: auto;
  display: block;
  padding-top: 3em;
  padding-bottom: 2em;
}

p {
  color: #B3B3B3;
  font-size: 14pt;
  text-indent: 1.5em;
  max-width: 80%;
  margin-top: 0;
  margin-bottom: 1;
  margin-left: auto;
  margin-right: auto;
}

.links {
  font-family: 'Tangerine', cursive;
  font-size: 45pt;
  line-height: 1.1;
  list-style-type: none;
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
}

a,
a:hover {
  text-decoration: none;
}

a {
  color: #DDDDDD;
}

a:hover,
.return-start a:hover {
  color: #FFCC01;
}

.return-start {
  padding-top: 2em;
  padding-left: 1em;
}

.return-start a {
  color: #939290;
}

.box .return-start {
  padding: 50px;
}

@media only screen and (max-width: 800px) {
  html,
  body {
    background-color: #202124;
  }

  .vol-img {
    max-width: 80%;
    height: auto;
  }

  .box {
    width: 100%;
    padding: 0;
  }

  p {
    font-size: 14pt;
    max-width: 80%;
  }

  .links {
    font-size: 35pt;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* .links {
    width: 80%;
  } */
}
