/* stylesheet */

html,
body {
  background-color: #302E2D;
  font-family: 'Open Sans', sans-serif;
}

.vol-img {
  max-width: 50%;
  height: auto;
  margin: auto;
  display: block;
  padding-top: 2em;
}

p {
  text-align: center;
}

.text {
  color: #939290;
  max-width: 50%;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.links {
  list-style-type: none;
  text-align: center;
  display: block;
  margin: none;
  padding-bottom: 2em;
}

a,
a:hover {
  text-decoration: none;
  color: #DDDDDD;
}

br {
  padding: 1em;
}

.back-button {
  padding-left: 2em;
  padding-bottom: 2em;
}

button {
  width: 50%;
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .ollie-img {
    max-width: 80%;
    height: auto;
  }

  .text {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    width: 80%;
  }
}
